<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Account accepted</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<table align="left">
	<tr>
		<td>
			<!--<a href="https://www.seat7entertainment.com" target="_blank">
				<img src="https://seat7-emails.s3.amazonaws.com/logo-white.png" alt="Seat 7 Entertainment" width="120" height="170" style="display: block;" />
			</a>-->
		</td>
	</tr>
	<tr>
		<td align="left" bgcolor="#ffffff">
			<p class="text" style="font-family: Arial, sans-serif; margin: 0; font-size: 20px; font-weight: 700; color: #000; display: block; width: 100%;">
				Hello, <%=user.name%>!
			</p>
			<br />
			<br />
			<p class="text" style="font-family: Arial, sans-serif; margin: 0; font-size: 16px; line-height: 26px; font-weight: 400; color: #000; display: block; width: 100%;">
				Your seat 7 account has been accepted.
			</p>
			<br />
			<br />
			<a href="https://www.seat7entertainment.com" target="_blank" style="font-family: Arial, sans-serif; font-weight: 700; padding: 10px 20px 10px 20px; border-radius: 3px; text-decoration: none; background: #0056a7; color: #ffffff">Log in to the platform!</a>
		</br>
		</br>
		</td>
		
	</tr>

	<tr>
		<td bgcolor="#ffffff">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
				 <td width="140px">
					 <br><br>
					 <p>
						<a href="https://www.seat7entertainment.com" target="_blank">
							<img src="https://seat7-uploads.s3.amazonaws.com/user/logo/logo_s7.png" alt="Seat 7 Entertainment">
						</a>
					</p>
				 </td>
				 <td width="200px">
					 
				 </td>

				 <td width="200px">

				</td>
				</tr>
			 </table>
		</td>
	</tr>
</table>
</body>
</html>
