<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Validated account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
	<tr>
		<td align="center" bgcolor="#0056a7" style="padding: 20px 0 20px 0;">
			<a href="https://www.seat7entertainment.com" target="_blank">
				<img src="https://seat7-emails.s3.amazonaws.com/logo-white.png" alt="Seat 7 Entertainment" width="120" height="170" style="display: block;" />
			</a>
		</td>
	</tr>
	<tr>
		<td align="center" bgcolor="#ffffff" style="padding: 100px 20px 100px 20px;">
			<p class="text" style="font-family: Arial, sans-serif; margin: 0; font-size: 20px; font-weight: 700; color: #000; display: block; width: 100%;">
				Hello, <%=user.name%>!
			</p>
			<br />
			<br />
			<p class="text" style="font-family: Arial, sans-serif; margin: 0; font-size: 16px; line-height: 26px; font-weight: 400; color: #000; display: block; width: 100%;">
				Your account has been disabled by the platform administrator.
				<br />
				To find out more details try to contact us through the channels below.
			</p>
		</td>
	</tr>
	<tr>
		<td bgcolor="#ffffff" style="border-top: 10px solid #0056a7; padding: 60px 20px 10px 20px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
				 <td width="140px">
						<a href="https://www.seat7entertainment.com" target="_blank">
							<img src="https://seat7-emails.s3.amazonaws.com/logo-blue.png" style="width: 90px;" alt="Seat 7 Entertainment">
						</a>
				 </td>
				 <td width="200px">
					 <p style="font-family: Arial, sans-serif; font-size: 30px; color: #09b0ee; font-weight: 700;">Let's Talk?</p>

						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td>
									<img src="https://seat7-emails.s3.amazonaws.com/skype.png" alt="skype" style="width: 20px; height: 20px; display: inline-block; vertical-align:middle; margin-right: 5px">
									<p class="text" style="font-family: Arial, sans-serif; margin: 0px; font-size: 16px; color: #09b0ee; display: inline-block;">deckmrcharliemartin</p>
								</td>
							</tr>
						</table>
				 </td>

				 <td width="200px">
					 <table border="0" cellpadding="0" cellspacing="0" width="100%">
						 <tr>
							 <td>
								 <p class="text" style="font-family: Arial, sans-serif; margin: 90px 0px 0px 0px; font-size: 16px; color: #09b0ee; display: inline-block;">carlos.martin@gmail.com</p>
							 </td>
						 </tr>
					 </table>
				</td>
				</tr>
			 </table>
		</td>
	</tr>
</table>
</body>
</html>
