<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Account created</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<table align="left">
	<tr>
		<td align="left" bgcolor="#ffffff">
			<p class="text" style="font-family: Arial, sans-serif; margin: 0; font-size: 20px; font-weight: 700; color: #000; display: block; width: 100%;">
				Hello, <%=user.name%>!
			</p>
			<br />
			<br />
			<p class="text" style="font-family: Arial, sans-serif; margin: 0; font-size: 16px; line-height: 26px; font-weight: 400; color: #000; display: block; width: 100%;">
        The project: <b>"<%=project.title%>"</b> has been sent to publishers. <br>
        The email addresses which received the project are listed below:
        <br />
        <br />
      </p>
      <% contacts.forEach(function(contact){ %>
        <a href="mailto:<%=contact.contact_email%>" target="_blank">
          <%=contact.contact_email%> <br>
        </a>
      <% }); %>
      <br />
      <br />
      <p class="text" style="font-family: Arial, sans-serif; margin: 0; font-size: 16px; line-height: 26px; font-weight: 400; color: #000; display: block; width: 100%;">
        Talk to the administrator for more details.
      </br>
    	</br>
      </p>
		</td>
	</tr>
	<tr>
		<td bgcolor="#ffffff">
			<table b>
				<tr>
				 <td width="140px">
					<br><br>
					<p>
					   <a href="https://www.seat7entertainment.com" target="_blank">
						   <img src="https://seat7-uploads.s3.amazonaws.com/user/logo/logo_s7.png" alt="Seat 7 Entertainment">
					   </a>
				   </p>
				 </td>
				 <td width="200px">

				 </td>

				 <td width="200px">

				</td>
				</tr>
			 </table>
		</td>
	</tr>
</table>
</body>
</html>
