<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Publisher recived</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style>
		@media screen and (max-device-width: 767px),
		screen and (max-width: 767px) {
			.main-table {
				max-width: 100% !important;
				width: 300px !important;
			}
		}

		@media screen and (max-device-width: 767px),
		screen and (max-width: 767px) {
			.tbody {
				/*padding: 20px 10px 50px 20px !important;*/
				width: 300px !important;
			}
		}

		@media screen and (max-device-width: 767px),
		screen and (max-width: 767px) {
			.tfoot {
				max-width: 100%;
				width: 300px !important;
				padding: 20px 0 !important;
				text-align: center !important;
			}
		}

		@media screen and (max-device-width: 767px),
		screen and (max-width: 767px) {
			.tfoot table tr td {
				display: block !important;
				width: 100% !important;
			}
		}

		@media screen and (max-device-width: 767px),
		screen and (max-width: 767px) {
			.tfoot .tfoot-title {
				text-align: center !important;
				margin-bottom: 20px !important;
				margin-top: 20px !important;
			}
		}

		@media screen and (max-device-width: 767px),
		screen and (max-width: 767px) {
			.tfoot .tfoot-skype {
				text-align: center !important;
			}
		}

		@media screen and (max-device-width: 767px),
		screen and (max-width: 767px) {
			.tfoot .email {
				margin-top: 10px !important;
			}
		}

		.main-email-text ul {
			padding-left: 18px;
			margin: 0;
		}

		.main-email-text ol {
			padding-left: 20px;
			margin: 0;
		}

		.main-email-text p {
			margin: 0;
		}

		.main-email-text blockquote {
			border-left: 5px solid #b7b7b7;
			margin-left: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 20px;
		}
	</style>
</head>
<body>
	<table align="left">
		<tr>
			<td align="left" bgcolor="#ffffff" class="tbody" style="text-align: left;">
				<div class="email-text main-email-text" style=" font-family: Arial, sans-serif; margin: 0; font-size: 16px; line-height: 22px; font-weight: 400; color: #000; display: block; width: 100%; display: block; " >
					<%- safeHtmlMessage %>
				</div>
				<br />
				<br />
				<strong style="font-family: Arial, sans-serif; font-weight: 700; margin-bottom: 10px; display: block; width: 100%;">Access the project through the link below:</strong>
				<div style="width: 100%; display: block; text-align: Left; padding-top: 10px;">
					<a href="https://www.seat7entertainment.com/landing-page/<%=project.id%>/<%=contact.token%>" target="_blank" class="btn-link" style=" font-family: Arial, sans-serif; font-weight: 700; padding: 10px 20px; width: 200px; border-radius: 3px; text-decoration: none; background: #0056a7; color: #ffffff; " >Access the project!</a>
				</div>
			</td>
		</tr>
<!-- Insert Footer -->
	</table>
</body>
</html>
